	#certGetButton{
		background-color:#0090C1; 
		-moz-border-radius: 28px; 
		-webkit-border-radius: 28px; 
		border-radius: 28px; 
		display: inline-block; 
		cursor: pointer; 
		color: #fff; 
		padding: 10px 30px; 
		text-decoration: none; 
		font-size: 1em; 
		text-align: center;
		transition: 0.3s;
	}
	#certGetButton:focus{
		box-shadow: 3px 3px 3px #888;
		background-color:#004b65;
    }
	#certGetButton:hover{
		box-shadow: 1px 3px 4px #888;
		background-color:#004b65;
	}